<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script th:src="@{/main.js}"></script>
    <script>
        var app = angular.module("MessagesManagement", []);

        app.controller("MessageController", function ($scope, $http) {

            $scope.messages = [];
            $scope.sender = "";
            $scope.recipient = "";

            _refreshMessageData();

            $scope.deleteMessage = function (message) {
                $http({
                    method: 'DELETE',
                    url: '/messages/' + message.id
                }).then(_success, _error);
            };

            $scope.getMessages = function () {
                _refreshMessageData();
            }

            function _refreshMessageData() {

                $http({
                    method: 'GET',
                    url: '/messages',
                    params: {sender: $scope.sender, recipient: $scope.recipient}
                }).then(
                    function (res) { // success
                        $scope.messages = res.data;
                    },
                    function (res) { // error
                        console.log("Error: " + res.status + " : " + res.data);
                    }
                );
            }

            function _success(res) {
                _refreshMessageData();
            }

            function _error(res) {
                var data = res.data;
                var status = res.status;
                var header = res.header;
                var config = res.config;
                alert("Error: " + status + ":" + data);
            }
        });
    </script>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body ng-app="MessagesManagement" ng-controller="MessageController">
<h3>
    CRUD: Spring Boot + Rest + AngularJS
</h3>
<input type=text ng-model="sender"><a ng-click="getMessages()">send</a>
<input type=text ng-model="recipient">
<br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>senderNumber</th>
        <th>recipientNumber</th>
        <th>Delete</th>
    </tr>

    <tr ng-repeat="msg in messages">
        <td> {{ msg.id }}</td>
        <td> {{ msg.senderNumber }}</td>
        <td>{{ msg.recipientNumber }}</td>
        <td>
            <a ng-click="deleteMessage(msg)" class="delete-button">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>