<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1 th:text=#{403}></h1>
        <div th:inline="text" th:text=#{403_message}></div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>