<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <form class="form-horizontal" th:object="${note}" th:action="@{/update}" name="edit_form" id="edit_form"
          method="post" role="form">
        <div class="form-group">
            <input type="hidden" id="id" th:name="id" th:value="*{id}"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="title" th:name="title" th:value="*{title}" maxlength="100"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="text" th:name="text" th:value="*{text}" maxlength="100"/>
        </div>
        <button type="submit" class="btn btn-primary" th:text=#{save}></button>
    </form>
</div>
</body>
</html>