<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%">
<head th:replace="fragments/head :: head"></head>
<body style="height: 100%">
<div th:replace="fragments/header :: header"></div>
<div class="container" style="height: 100%">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 10%" th:text=#{history.note_id}></th>
            <th style="width: 30%" th:text=#{history.change_date}></th>
            <th style="width: 20%" th:text=#{table.title}></th>
            <th style="width: 40%" th:text=#{table.text}></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${history_records}">
            <td th:text="${record.noteId}" style="text-align: center"></td>
            <td th:text="${#dates.format(record.changeDate, 'EEE, d MMM yyyy HH:mm')}"></td>
            <td th:text="${record.title}"></td>
            <td th:text="${record.text}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>