<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      style="height: 100%">
<head th:replace="fragments/head :: head"></head>
<body style="height: 100%">
    <div th:replace="fragments/header :: header"></div>
    <div th:if="${not #lists.isEmpty(notes)}" style="height: 100%">
        <div class="container" style="height: 100%">
            <table class="table table-bordered table-hover horizontal-align">
                <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 15%" th:text=#{table.title}></th>
                    <th style="width: 25%" th:text=#{table.text}></th>
                    <th style="width: 10%" th:text=#{table.owner}></th>
                    <th style="width: 15%" th:text=#{table.creation_date}></th>
                    <th style="width: 15%" th:text=#{table.last_changes}></th>
                    <th style="width: 5%" th:text=#{table.edit}></th>
                    <th style="width: 5%" th:text=#{table.delete}></th>
                    <th style="width: 5%" th:text=#{table.export_json}></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="note : ${notes}">
                    <td th:text="${note.id}" style="text-align: center"></td>
                    <td th:text="${note.title}"></td>
                    <td th:text="${note.text}"></td>
                    <td th:text="${note.username}"></td>
                    <td th:text="${#dates.format(note.creationDate, 'EEE, d MMM yyyy HH:mm')}" style="text-align: center"></td>
                    <td th:text="${#dates.format(note.lastChanges, 'EEE, d MMM yyyy HH:mm')}" style="text-align: center"></td>
                    <td style="text-align: center"><a th:href="@{'/edit/{id}'(id=${note.id})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
                    <td style="text-align: center"><a th:href="@{'/delete/{id}'(id=${note.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
                    <td style="text-align: center"><a th:href="@{'/export_json/{id}'(id=${note.id})}"><i class="fa fa-download" style="font-size:20px"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>