<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container" style="height: 100%">

    <div class="row align-items-center justify-content-center" style="margin-top:20px; height: 100%">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="height: 100%">
            <form th:action="@{/login}" method="post" style="height: 100%">
                <fieldset style="height: 100%">
                    <h1 style="text-align: center" th:text=#{sign_in_message}></h1>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger" th:text=#{invalid_cred}>
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info" th:text=#{logout_message}>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg"
                               th:placeholder="#{username_placeholder}" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-lg"
                               th:placeholder="#{password_placeholder}" required="true"/>
                    </div>

                    <div class="row align-items-center justify-content-center">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{sign_in}">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>