<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <form class="form-horizontal" th:action="@{/save}" name="input_form" id="input_form"
          method="post" role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="title" th:name="title" th:placeholder="#{title_placeholder}"
                   maxlength="100"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="text" th:name="text" th:placeholder="#{text_placeholder}"
                   maxlength="100"/>
        </div>
        <button type="submit" class="btn btn-primary" th:text=#{save}></button>
    </form>
</div>
</body>
</html>