<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<script src="../static/js/jquery-2.1.4_min.js" th:src="@{/js/jquery-2.1.4_min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<footer class="footer py-4 bg-dark text-white-50" th:fragment="footer">
    <div class="container">
            <span class="text-muted" sec:authorize="isAuthenticated()">Logged user: <span
                    sec:authentication="name"></span>
                Roles: <span sec:authentication="principal.authorities"></span> <a th:href="@{/logout}"
                                                                                   th:text="#{logout}"></a></span>
    </div>
</footer>
</html>