<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="header" style="margin-bottom: 10px">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" th:text=#{headline} th:href="@{/}"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/new}" th:text=#{new_note}></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/import_json}"><span class="text" th:text=#{import_json}></span> <i class="fa fa-upload" ></i></a></span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/history}" th:text=#{history}></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{?lang=ru}"><img src="/images/russia-flag-round-icon-32.png"></a>
                </li>
                <li class="nav-item">
                    <a th:href="@{?lang=en}"><img src="/images/united-states-of-america-flag-round-icon-32.png"></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0" sec:authorize="isAuthenticated()">
                <a class="btn btn-primary" href="#" role="button" th:href="@{/logout}" th:text="#{logout}"></a>
            </form>
        </div>
    </nav>
</div>
</html>